//My variables
$body-background: #ddc9df;
$linkcolor: #7a3aaf;

// Bootstrap variable overrides
$body-bg: $body-background;
$link-color: $linkcolor;

html {
	font-size: 16px;
}
body {
	background-color: $body-bg !important;
	font-size: 16px;
}
.container {
	max-width: 1000px;
}
a {
	font-weight: bold;
}
p {
	font-size: 16px;
}