// Header

.navbar {
	margin: 0px !important;
}
.navbar-default {
	border-radius: 0px !important;
}
.nav .navbar-nav{
	li {
		display: inline !important;
	}
}
.navbar, .navbar-default  {
	border: 0 !important;
	text-transform: uppercase;
	font-family: "Ubuntu", "Times New Roman", Times, serif;
}
p.navbar-brand {
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 0;
}


// Content
.content {
	padding-top: 40px;
	padding-bottom: 200px;
}
h1.toptitle {
	margin-top: 0px;
	text-transform: uppercase;
}
html {
	font-size: 16px;
}
body {
	background-color: $body-bg !important;
	font-size: 16px;
}
.container {
	max-width: 1000px;
}
a {
	font-weight: bold;
}
p {
	font-size: 16px;
}
.lotoftext {
	padding-left: 30px;
	line-height: 1.6;
	max-width: 636px;
	@media ( max-width: $screen-xs ){
		padding-bottom: 25px;
	}
	p {
		margin-bottom: 15px;
	}
}
.my-btn {
	color: white;
	background-color: $linkcolor;
	border-radius: 0;
}
// Footer
.footer {
	min-height: 150px;
	// background-image: $footer-img;
	background-color: $footer-bg;
	padding-top: 40px;
	font-size: 36px;
	color: white;

	i {
		padding-right: 25px;
	}
	a {
		color: white;
		&:hover {
			color: $linkcolor;
		}
	}
}

