@import "bootstrap/variables";
//My variables
$header-bg: #000;
$navbar-bg: #6c6ea0;
$navbar-text: white;
$navbar-active-bg: $header-bg;
$navbar-active-text: $navbar-bg;

$body-background: #beb2ce;
$linkcolor: #2cbda1;

$sidebar-bg: white;
$sidebar-hover-link: white;
$sidebar-hover-bg: #B393D6;
$sidebar-border: #A77BD6;

$footer-bg: #c7c8db;

@font-face {
	font-family: "Ubuntu";
	src: ( "fonts/Ubuntu-Regular.ttf" ); 
}

// Bootstrap variable overrides
$navbar-default-bg: $navbar-bg;
$navbar-default-link-color: $navbar-text;
$navbar-default-link-hover-color: $navbar-text;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 10%);
$navbar-default-link-active-color: $navbar-active-text;
$navbar-default-link-active-bg: $navbar-active-bg;

$navbar-default-toggle-hover-bg: lighten($navbar-bg, 10%);
$navbar-default-toggle-icon-bar-bg: darken($navbar-bg, 50%);
$navbar-default-toggle-border-color: black;

$body-bg: $body-background;
$link-color: $linkcolor;
$link-hover-color: darken($link-color, 15%);
$font-size-base: 16px;
$icon-font-path: if($bootstrap-sass-asset-helper, "bootstrap/", "../fonts/");
$font-family-serif: "Ubuntu", "Times New Roman", Times, serif;
$headings-font-family: $font-family-serif; 

$well-bg: $sidebar-bg;
$well-border: $sidebar-border;
$nav-link-hover-bg: $sidebar-hover-bg;
$nav-pills-active-link-hover-color: $sidebar-hover-link;
