<?php

// Write everything inside the quotation 

define("SITE_ROOT", "/"); 
define("SITE_TITLE", "yourtitle");
define("DEFAULT_PAGE", "namethepage");
define("DB_CONSTRING", "mysql:host=localhost;dbname=dbname");
define("DB_USER", "username");
define("DB_PASS", "password");
