<?php

define("SITE_ROOT", "/");
define("SITE_TITLE", "Title");
define("DEFAULT_PAGE", "home");
define("DB_CONSTRING", "mysql:host=localhost;dbname=dbname");
define("DB_USER", "username");
define("DB_PASS", "password");
